{% extends 'generic_basic.html' %}


{% block content %}


<div class="container">
	<div class="row">
		<div class="col-md-6">
	<h1 class="text-center"> Welcome to MB blog! </h1>
	{% load static %}
	<img src="{% static 'posts/magic.jpg' %}" class="img-responsive center-block " />
		</div>
		<div class="col-md-6">
			<h1 class="text-center">About me </h1>
				<p>Jianbing mumblecore vexillologist everyday carry pok pok, authentic wolf farm-to-table. Coloring book church-key la croix meditation, health goth fanny pack butcher dreamcatcher PBR&B. Cornhole DIY letterpress, franzen slow-carb brooklyn kinfolk. XOXO roof party truffaut, 3 wolf moon you probably haven't heard of them williamsburg kogi chia scenester enamel pin PBR&B. Letterpress selvage kickstarter salvia, food truck locavore put a bird on it copper mug microdosing migas cray. Tacos PBR&B cold-pressed, woke jean shorts hexagon VHS actually whatever vape hella swag fixie. Poutine selvage meggings mlkshk skateboard, blog enamel pin cronut.</p>
			</div>

	</div>
</div>



{% endblock %}