{% extends 'generic_basic.html' %}

{% block content %}

  	<div class="container">
	  	<h1 class="text-center"> Welcome to MB blog! </h1>
	  	{% load static %}

	  	<img src="{% static 'posts/magic.jpg' %}" class="img-responsive center-block " />

	  	<h2>Latest Posts</h2>
	  	<hr>

	  	{% for post in posts.all %}

	  	<h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>

	  	<h4><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
	  	{{ post.pub_date_pretty }}</h4>

	  	<img src="{{ post.image.url }}" class="img-responsive" style="max-height: 200px" />

	  	<p>{{ post.summary }}</p>

	  	<hr>

	  	{% endfor %}
	  </div>

{% endblock %}   